@import '~bootstrap/scss/bootstrap'

body
  min-width: 576px
  font-size: 20px

ul
  display: flex
  flex-wrap: wrap
  justify-content: space-evenly

li
  list-style: none

h1
  color: grey

h2
  text-transform: capitalize
  text-align: center

h3
  font-weight: bold

h4
  color: grey
  text-align: center

.loading
  margin: 60px

.container
  display: flex
  justify-content: center
  margin-top: 50px

.item
  margin: 20px

.date
  height: 30px

.pokemon
  padding: 10px
  display: flex
  flex-direction: column
  justify-content: space-between
  background-color: rgba(0, 0, 0, 0.1)

  &:hover
    background-color: rgba(0, 0, 0, 0.2)

  &_name
    text-transform: uppercase

  &_image
    width: 250px

    &-full
      width: 475px
      margin: 50px
      align-self: center

  &_catch
    width: 150px
    margin: 10px auto
    align-self: center

