@import '~bootstrap/scss/bootstrap'

body
  min-width: 576px;

  font-size: 20px

li
  list-style: none

.container
  display: flex
  justify-content: center
  margin-top: 50px

.scroll
  display: flex
  flex-wrap: wrap
  justify-content: space-evenly
  margin: 50px

.item
  margin: 15px

.pokemon
  padding: 10px;
  display: flex
  flex-direction: column
  justify-content: space-between

  &_name
    text-transform: uppercase

  &_image
    width: 250px

    &-full
      width: 475px

  &_catch
    width: 150px
    margin: 10px auto
    align-self: center

//navbar

.title
  color: white
  font-size: 24px
